.git
.gitignore
.mvn
mvnw
mvnw.cmd
README.md
Dockerfile
target/
**/.mvn/**
**/mvnw
**/mvnw.cmd
**/pom.xml.asc
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/release.properties
**/src/test/**
**/src/main/resources/application-*.properties
!**/src/main/resources/application-production.properties
**/node_modules/
**/.idea/
**/.vscode/
**/*.iml
**/*.log
**/target/
**/build/
**/out/
**/bin/
**/.classpath
**/.project
**/.settings/
**/*.swp
**/*.swo
**/*.bak
**/*.tmp
**/*.temp
**/logs/
**/log/
**/*.log
**/dist/
